<h2>Listing posts</h2>

<table class="table">
  <thead>
    <tr>
      <th>Text</th>
      <th>User</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for post <- @posts do %>
      <%= render "post_row.html", post: post, conn: @conn %>
    <% end %>
  </tbody>
</table>

<%= link "New post", to: post_path(@conn, :new) %>
